---
import Milestones from '@components/milestones/Milestones.astro';
import type { CollectionEntry } from 'astro:content';
import ProjectHeader from './ProjectHeader.astro';

export interface ProjectCardProps {
  project: CollectionEntry<'projects'>;
}

const { data: project } = (Astro.props as ProjectCardProps).project;

const color = project.colors['project-primary'];
const backgroundImage = `url(${project.background})`;
---

<div class='project-card relative rounded-lg w-full h-full bg-cover bg-no-repeat'>
  <div class="absolute flex flex-col justify-between items-start gap-14 pt-24 px-4 w-full h-full">
    <ProjectHeader project={project} />
    <Milestones milestones={project.milestones} color={color}/>
  </div>
</div>

<style define:vars={{backgroundImage}}>
  .project-card {
    background-image: linear-gradient(to bottom, transparent -90%, hsl(var(--background)) 100%), var(--backgroundImage);
  }

  @media (max-width: 768px) {
    .project-card {
      background-position-x: center;
      background-size: cover;
      > div {
        flex-direction: column;
      }
    }
  }
</style>