---
import type { CollectionEntry } from 'astro:content';

export interface ProjectCardProps {
  project: CollectionEntry<'projects'>;
}

const { data } = (Astro.props as ProjectCardProps).project;
const color = data.colors['project-primary'];
const backgroundImage = `url(${data.background})`;
---

<div class='project-card relative rounded-lg w-full h-full bg-cover bg-no-repeat'>
  <div class="absolute pt-14">
    <h3 class={`text-${color} dark:text-${color}`}>{data.title}</h3>
    <p class='text-base-600'>{data.description}</p>
  </div>
</div>

<style define:vars={{backgroundImage}}>
  .project-card {
    background-image: linear-gradient(to bottom, transparent 50%, hsl(var(--background)) 100%), var(--backgroundImage);
  }
</style>