---
import audience from '@assets/images/audience.webp';
import flame from '@assets/images/flame.webp';
import hand from '@assets/images/hand.webp';
import pinned from '@assets/images/pinned.webp';
import rocket from '@assets/images/rocket.webp';
import trophy from '@assets/images/trophy.webp';
import flag from '@assets/images/flag.webp';
import thunder from '@assets/images/thunder.webp';
import { ProjectHighlightsMarquee } from '@components/profile/ProjectHighlights';
import { CollectionEntry } from 'astro:content';

export interface MilestoneProps {
  milestone: CollectionEntry<'projects'>['data']['milestones'][number];
  index: number;
  color: string;
}

const { milestone, index } = Astro.props as MilestoneProps;

const milestoneIconMap = {
  rocket: rocket,
  pinned: pinned,
  flame: flame,
  hand: hand,
  audience: audience,
  flag: flag,
  thunder: thunder,
};

const icon = milestoneIconMap[milestone.icon as keyof typeof milestoneIconMap];
const splitedTitle = milestone.title.split(' ');
---

{
  index === 0 && (
    <div class='milestone-card relative flex flex-col justify-start items-start gap-2 w-full md:w-[375px] h-[230px] md:h-[285px] border border-neutral-200 dark:border-neutral-800 bg-neutral-200 dark:bg-neutral-900 shadow-xl rounded-xl overflow-hidden'>
      <h5 class='text-base-500 text-xl font-prompt p-6'>
        <span class='text-base-600' />
        {milestone.title}
      </h5>
      <div class='flex flex-col justify-start items-start ml-[1px] w-full overflow-hidden'>
        <ProjectHighlightsMarquee
          highlights={milestone.strongPoints ?? []}
          containerWidth={375}
        />
      </div>
      <img
        src={trophy.src}
        width={250}
        height={250}
        alt='icon for Sergio Rodriguez Gundin milestones'
        class='absolute -bottom-10 -right-20 z-0 drop-shadow-lg opacity-10'
      />
    </div>
  )
}

{
  index !== 0 && (
    <div class='milestone-card relative flex flex-col justify-start items-start flex-wrap w-[150px] h-[125px] border border-neutral-200 dark:border-neutral-800 bg-neutral-200 dark:bg-neutral-900 p-4 shadow-xl rounded-xl overflow-hidden'>
      <div class='flex flex-col justify-start items-start'>
        <h5 class='text-base-500 text-base font-prompt font-bold w-full'>
          {splitedTitle[0].toUpperCase()}
        </h5>
        <h5 class='text-base-600 text-xs font-prompt font-bold w-full'>
          {splitedTitle[1].toUpperCase()}
        </h5>
      </div>
      {icon && (
        <img
          src={icon.src}
          width={75}
          height={75}
          alt='icon for Sergio Rodriguez Gundin goals'
          class='absolute -bottom-2 right-0 z-0 drop-shadow-lg opacity-10'
        />
      )}
    </div>
  )
}

<style>
  .milestone-card::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 0.75rem;
    border: 1px solid transparent;
    /*background: linear-gradient(135deg, hsl(var(--color-700)) -35%, hsl(var(--background)) 75%, transparent 100%) border-box;*/
    /*mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);*/
    mask-composite: exclude;
  }
</style>
