---
interface BgShadowProps {
  position: {
    top: string;
    bottom: string;
    left: string;
    right: string
  }
  size: {
    width: string;
    height: string;
  }
}

const { position = {top: '0', bottom: '0', left: '0', right: '0'}, size = {width: '20vw', height: '20vh'} } = Astro.props as BgShadowProps

---

<div class="bg-shadow" style={`top: ${position.top}; bottom: ${position.bottom}; left: ${position.left}; right: ${position.right}; width: ${size.width}; height: ${size.height}`}></div>

<style>
  .bg-shadow {
    position: absolute;
    background: var(--bg-shadow);
    border-radius: 1200px;
    filter: blur(100px);
    opacity: 0.25;
    overflow: hidden;
    z-index: 0;
    /*left: -85px;*/
  }
</style>