---
interface Props {
  title: string;
  description: string;
  canonical?: string;
  image?: string;
  preload?: [];
}

const {
  title,
  description,
  canonical,
  image = '/images/preview-dark.webp',
}: Props = Astro.props;

const determineCanonicalURL = () => {
  if (canonical?.includes('localhost')) return 'http://localhost:4321';
  return canonical || Astro.url.href;
};

const canonicalURL = determineCanonicalURL();
---

<title>{title}</title>

<meta charset='UTF-8' />
<meta name='description' content={description} />
<link rel='canonical' href={canonicalURL} />
<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
<meta name='viewport' content='width=device-width' />
<meta name='theme-color' content='hsl(var(--primary))' />

<meta
  name='keywords'
  content='Sergio, Rodriguez, Gundin, engineering, developer, web developer, frontend, frontend developer'
/>
<meta name='robots' content='index, follow' />
<meta name='Googlebot' content='index, follow' />

<meta name='twitter:card' content='summary_large_image' />
<meta name='twitter:site' content='@sergiorodriguezgundindev' />
<meta name='twitter:creator' content='@sergiorodriguezgundin' />
<meta name='twitter:title' content={title} />
<meta name='twitter:description' content={description} />
<meta name='twitter:image' content={new URL(image, Astro.url)} />

<meta property='og:image' content={new URL(image, Astro.url)} />
<meta property='og:title' content={title} />
<meta property='og:description' content={description} />
<meta property='og:url' content={canonicalURL} />
<meta property='og:site_name' content='Sergio Rodriguez Gundin portfolio' />
<meta property='og:type' content='website' />
<meta property='og:locale' content='en_US' />

<meta name='msapplication-config' content='/browserconfig.xml' />
<link rel='manifest' href='/manifest.webmanifest' />
